html
  head
    title Shelf
  body
    form(name="add-estimation", method="get", action="/query")
      div.input
        p.label Title 
          input(type="text", name="title")
        p.label Author 
          input(type="text", name="author")
        p.label Keywords 
          input(type="text", name="keyword")
        p.label Type of query 
          input(type="radio", value="narrow", name="query_type", checked=true)
          span narrow
          input(type="radio", value="wide", name="query_type")
          span wide
      div.actions
        input(type="submit", value="submit")
    h1 Archive
    ul
      each val in archive
        li= val
