html
  head
    title Shelf
  body
    if (title || author || keyword)
      p current query: 
      ul
        if title
          li Title: #{title}
        if author
          li Author: #{author}
        if keyword
          li Keywords: #{keyword}
    form(name="add-estimation", method="get", action="/query")
      div.input
        p.label Title 
          input(type="text", name="title")
        p.label Author 
          input(type="text", name="author")
        p.label Keywords 
          input(type="text", name="keyword")
        //p.label Type of query 
        //  input(type="radio", value="narrow", name="query_type", checked=true)
        //  span narrow
        //  input(type="radio", value="wide", name="query_type")
        //  span wide
      div.actions
        input(type="submit", value="submit")
    h1 List of entries
    if (archive)
      ul
        each val in archive
          li
            h4 #{val.title} #{val.author}
            p #{val.text}
            if (val.tags)
              p tags: #{val.tags}
            if (val.resolved_references)
              - for (var ref of val.resolved_references)
                if (ref)
                  p &#8618; #{ref.title} #{ref.author}: #{ref.text}
    else 
      b No entry found!

