html
  head
    title Shelf - Query 
  body
    div 
      p Query parameters:
      p
        span author: 
        = author
      p
        span title: 
        = title
      p
        span keyword: 
        = keyword
    div
      h2 Results
      ul
        each val in results
          li= val
